* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul > li {
  list-style: none;
}
li > a {
  text-decoration: none;
  color: black;
}
.brandIcon {
  margin: 0;
  width: 35%;
}
.lead {
  min-height: 70vh;
  display: grid;
  place-items: center;
}
.heading {
  font-family: "Rubik", sans-serif;
}
.para {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
}
.feature {
  background-color: #374f75;
  min-height: 60vh;
  display: grid;
  align-items: center;
  box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.06);
}
.resourceList {
  border: #374f75 3px solid;
}
.noticeList {
  border: #374f75 3px solid;
}
.Create {
  border: #374f75 3px solid;
}
.footer {
  background-color: #e7e7e7;
  min-height: 60vh;
  display: grid;
  align-items: center;
}
