* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.brandIcon {
  margin: 0;
  width: 35%;
}
.lead {
  min-height: 70vh;
  display: grid;
  place-items: center;
}
.feature {
  min-height: 60vh;
  display: grid;
  align-items: center;
  box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.06);
}
.footer {
  background-color: #e7e7e7;
  min-height: 60vh;
  display: grid;
  align-items: center;
}
